<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
    </style>
    <link rel="stylesheet" href="home.component.css">
  </head>
  <body>
    <app-navbar></app-navbar>
    <main>
        <div class="game game1" (click)="goToAhorcado()">
            <h2>Ahorcado</h2>
        </div>
        <div class="game game2" (click)="goToMayorOMenor()">
            <h2>Mayor o Menor</h2>
        </div>
        <div class="game game3" (click) = "goToPreguntados()">
            <h2>Preguntados</h2>
        </div>
        <div class="game game4" (click) ="goToBuscaminas()">
            <h2>Buscaminas</h2>
        </div>
    </main>
</body>
<app-chat></app-chat>

