body {
    margin: -10px;
    padding: 0px;
    font-size: 20px;
    font-family: 'Pixelify Sans', sans-serif;
    background-image: url('../../../../assets/imgs/wallp.jpg');
    background-color: #3f244b;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.pikachu{
    width: 100px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -60%);
    transition: transform 0.3s;
}

.pikachu:hover {
    transform: translate(-100%, -60%) scale(1.9); /* Escala Pikachu al 120% del tamaño original */
}

header {
    background-color: #7d2ae8;
    color: #341144;
    padding: 10px 0;
    margin: 10px;
    border-radius: 20px;
    font-family: 'Press Start 2P' cursive;
    position: relative;
    overflow: hidden;
    animation: wave 2s infinite alternate;
    box-shadow: 0 0 10px rgb(191, 46, 244);
}

@keyframes wave {
    0% {
        border-radius: 30px; /* Inicio de la animación: borde normal */
    }
    50% {
        border-radius: 50px; /* Mitad de la animación: borde redondeado */
    }
    100% {
        border-radius: 20px; /* Fin de la animación: borde normal */
    }
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    color: #341144;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    color: #341144;
    font-size: 24px;
}
main {
    padding: 30px;
    display: grid;
    grid-template-areas:
        "game1 game2"
        "game3 game4";
    gap: 20px;
}


.game:nth-child(1){
    background-image: url('../../../../assets/imgs/pokemones.jpg');
}
.game:nth-child(2){
    background-image: url('../../../../assets/imgs/dados.jpg');
}
.game:nth-child(3){
    background-image: url('../../../../assets/imgs/bandera.jpg');
}
.game:nth-child(4){
    background-image: url('../../../../assets/imgs/buscaminas.jpg');
}


.game {
    padding: 20px;
    height: 250px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    border: 5px solid transparent;
}

.game:nth-child(1) { grid-area: game1; }
.game:nth-child(2) { grid-area: game2; }
.game:nth-child(3) { grid-area: game3; }
.game:nth-child(4) { grid-area: game4; }


.game:hover {
    transform: scale(1.09);
    border-color:rgb(154, 51, 250);
    box-shadow: 0 0 100px rgb(191, 46, 244);
}

.game img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.game h2 {
    margin-top: 10px;
    font-size: 45px;
    color: white;
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
}

.game p {
    margin-top: 10px;
    font-size: 18px;
    color: #666;
    text-align: center;
}

footer {
    background-color: #7d2ae8;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


.header-content h1{
    font-family: 'Pixelify Sans', sans-serif;
}
