body{
    font-family: Arial, Helvetica, sans-serif;
    margin : 0;
    padding: 0;
    background-color: #3333336b;
    color : #333;
}

header{
    background-color: #7d2ae8;
    color: #fff;
    padding: 20px 0;
    border-radius: 20px;
}

.header-content{

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

nav ul li
{
    display: inline;
    margin-left: 20px;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main{
    padding: 30px;
}

.game-container{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
}

.game{
    flex: 1 0 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.game:hoover{
    transform:scale(1.05);
}


.game img{
    width: 100%;
    border-radius: 8px;
}

.game p{
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}


/* Estilos del pie de página */
footer {
    background-color: #7d2ae8; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto del pie de página */
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}








