<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <header>
        <div class = "header-content">
            <h1>Arcade Center</h1>
        <nav>
            <ul>
                <li> <a href="/about-me">About Me</a></li>
                <li> <a href="#">Cerrar Sesion</a></li>
            </ul>
        </nav>
        </div>
    </header>
    <main>
        <div class="game-container">
            <div class = "game">
                <img src="" alt="juegoUno">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nemo at aliquam suscipit voluptas ducimus illo architecto excepturi. Neque, praesentium tempora. Consequuntur nemo dolorem id iste saepe quasi non sapiente aspernatur delectus sed nihil, repudiandae temporibus excepturi dolore error esse animi! Iste, tempora laborum excepturi aliquam aut dolores vel doloribus molestiae earum veniam quibusdam dolor mollitia hic quia ipsam reprehenderit repellat harum impedit, aspernatur eum suscipit voluptas cum nobis! Dolores dolore natus excepturi repudiandae laboriosam temporibus, ut quae dignissimos? Error, aliquam ipsa nihil at quod, et consequatur ratione ipsum, voluptatem eveniet blanditiis cum deleniti vero. Culpa earum praesentium quos esse.</p>
            </div>
            <div class = "game">
                <img src="" alt="juegoDos">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nemo at aliquam suscipit voluptas ducimus illo architecto excepturi. Neque, praesentium tempora. Consequuntur nemo dolorem id iste saepe quasi non sapiente aspernatur delectus sed nihil, repudiandae temporibus excepturi dolore error esse animi! Iste, tempora laborum excepturi aliquam aut dolores vel doloribus molestiae earum veniam quibusdam dolor mollitia hic quia ipsam reprehenderit repellat harum impedit, aspernatur eum suscipit voluptas cum nobis! Dolores dolore natus excepturi repudiandae laboriosam temporibus, ut quae dignissimos? Error, aliquam ipsa nihil at quod, et consequatur ratione ipsum, voluptatem eveniet blanditiis cum deleniti vero. Culpa earum praesentium quos esse.</p>
            </div><div class = "game">
                <img src="" alt="juegoTres">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nemo at aliquam suscipit voluptas ducimus illo architecto excepturi. Neque, praesentium tempora. Consequuntur nemo dolorem id iste saepe quasi non sapiente aspernatur delectus sed nihil, repudiandae temporibus excepturi dolore error esse animi! Iste, tempora laborum excepturi aliquam aut dolores vel doloribus molestiae earum veniam quibusdam dolor mollitia hic quia ipsam reprehenderit repellat harum impedit, aspernatur eum suscipit voluptas cum nobis! Dolores dolore natus excepturi repudiandae laboriosam temporibus, ut quae dignissimos? Error, aliquam ipsa nihil at quod, et consequatur ratione ipsum, voluptatem eveniet blanditiis cum deleniti vero. Culpa earum praesentium quos esse.</p>
            </div><div class = "game">
                <img src="" alt="juegoCuatro">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nemo at aliquam suscipit voluptas ducimus illo architecto excepturi. Neque, praesentium tempora. Consequuntur nemo dolorem id iste saepe quasi non sapiente aspernatur delectus sed nihil, repudiandae temporibus excepturi dolore error esse animi! Iste, tempora laborum excepturi aliquam aut dolores vel doloribus molestiae earum veniam quibusdam dolor mollitia hic quia ipsam reprehenderit repellat harum impedit, aspernatur eum suscipit voluptas cum nobis! Dolores dolore natus excepturi repudiandae laboriosam temporibus, ut quae dignissimos? Error, aliquam ipsa nihil at quod, et consequatur ratione ipsum, voluptatem eveniet blanditiis cum deleniti vero. Culpa earum praesentium quos esse.</p>
            </div>
        </div>
    </main>

    <footer>
        <a href="/about-me">About Me</a>
    </footer>

</body>