<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Arcade Center</h1>
            <nav>
                <ul>
                    <li><a href="/about-me">About Me</a></li>
                    <li><a href="#">Cerrar Sesion</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="game game1">
            <h2>Juego 1</h2>
            <p>Descripción del juego 1</p>
        </div>
        <div class="game game2">
            <h2>Juego 2</h2>
            <p>Descripción del juego 2</p>
        </div>
        <div class="game game3">
            <h2>Juego 3</h2>
            <p>Descripción del juego 3</p>
        </div>
        <div class="game game4">
            <h2>Juego 4</h2>
            <p>Descripción del juego 4</p>
        </div>
    </main>
</body>
</html>
