body {
    font-family: 'Pixelify Sans', sans-serif;
    margin-top: 80px;
    padding: 10px;
    color: #fff; /* Cambiamos el color del texto a blanco */
    margin: -8px;
    background: url('../../../../assets/imgs/wallp.jpg');
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para el encabezado */
header {
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 1000;
    background-color: #7d2ae8;
    color: #341144;
    padding: 10px 20px; /* Aumentamos el espacio interior */
    margin: 10px; /* Eliminamos el margen superior e inferior */
    border-radius: 20px;
    font-family: 'Pixelify Sans', sans-serif;
    position: relative;
    overflow: hidden;
    animation: wave 2s infinite alternate;
    box-shadow: 0 0 10px rgba(191, 46, 244, 0.5);
    transition: top 0.3s;
}


.header-content {
    display: flex;
    justify-content: space-between; /* Coloca "Arcade Center" a la izquierda y el nav a la derecha */
    align-items: center;
}


@keyframes wave {
    0% {
        border-radius: 30px; /* Inicio de la animación: borde normal */
    }
    50% {
        border-radius: 50px; /* Mitad de la animación: borde redondeado */
    }
    100% {
        border-radius: 20px; /* Fin de la animación: borde normal */
    }
}

header::after {
    content: '';
    position: absolute;
    bottom: -50px; /* Controla la distancia de la ola desde la parte inferior del header */
    left: 0;
    width: 100%;
    height: 100px; /* Altura de la ola */
    background-color: #7d2ae8; /* Color de fondo de la ola */
    border-radius: 50%; /* Crea la forma de ola */
}

/* Estilo para el pseudo-elemento ::before que crea el efecto de segunda ola */
header::before {
    content: '';
    position: absolute;
    bottom: -100px; /* Controla la distancia de la segunda ola desde la parte inferior del header */
    left: 0;
    width: 100%;
    height: 150px; /* Altura de la segunda ola */
    background-color: #7d2ae8; /* Color de fondo de la segunda ola */
    border-radius: 50%; /* Crea la forma de la segunda ola */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; /* Eliminamos el relleno para que los enlaces estén juntos */
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #341144;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px; /* Reducimos el tamaño de la fuente */
    margin-left: 14px;
    padding-right:20px; /* Añadimos un margen izquierdo para separar los enlaces */
}

nav ul li:first-child {
    margin-left: 0; /* Eliminamos el margen izquierdo del primer enlace */
}
  
/* Estilos para la sección "About Me" */
.about-me {
    padding: 50px 0;
    background-size: cover; /* Cubre todo el cuerpo */
    background-position: center; /* Centra la imagen */
}

.about-me .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.profile-picture img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto 30px;
}

.description {
    text-align: center;
}

.description h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.description p {
    font-size: 16px;
    line-height: 1.6;
}

.game-image {
    max-width: 900px; /* Asegura que la imagen no sea más ancha que su contenedor */
    height: auto;
    cursor: pointer;
    transition: transform 0.9s ease;
    margin: 20px auto 0; /* Agrega un espacio superior */
    border-radius: 20px;
}


.game.image-container{
    position: relative; /* Establece una posición relativa para el contenedor */
    width: 400px; /* Ajusta el tamaño del contenedor según sea necesario */
    height: auto;
    margin: 0 auto;
    perspective: 1000px; /* Agrega perspectiva para el efecto 3D */
}

.game-image:hover{
    transform: rotateY(180deg);
}

.game-image img {
    width: 100%;
    height: auto;
}


.game-description {
    position: absolute;
    top: 120%; /* Coloca el borde superior del elemento en el centro vertical */
    left: 50%; /* Coloca el borde izquierdo del elemento en el centro horizontal */
    transform: translate(-50%, -50%); /* Centra el elemento completamente */
    max-width: 60%; /* Ajusta el ancho del texto según sea necesario */
    height: 250px; /* Deja que la altura del texto se ajuste automáticamente */
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.46);
    color: black;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
}

.game-image-container:hover .game-image {
    transform: rotateY(180deg);
}

.game-image-container:hover .game-description {
    display: flex;
}