<app-navbar></app-navbar>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
        </style>
    <link rel="stylesheet" href="about-me.component.css">
</head>
<body>
    <!-- <header>
        <div class="header-content">
            <h1>Arcade Center</h1>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="#">Cerrar Sesion</a></li>
                </ul>
            </nav>
        </div>
    </header> -->
    <main>
        <section class="about-me">
            <div class="container">
                <div class="profile-picture">
                    <img src="../../../../../assets/imgs/yo.jpg" alt="Tu foto">
                </div>
                <div class="description">
                    <h2>¡Hola! Soy Mauro Delle chiaie</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus soluta quod id exercitationem numquam tenetur voluptas pariatur officiis nesciunt consequatur, magni velit? At ipsam consequuntur obcaecati nostrum qui porro optio inventore officiis, ipsum minus, animi quam ratione cum maxime. Quod, distinctio fugit. Voluptate sit velit alias magni, iste eaque id. Perferendis deleniti ducimus officiis enim, mollitia delectus modi quis eveniet dolor quasi quibusdam similique quae sapiente labore, facere consectetur temporibus a rem? Illo quia quo quod aperiam repudiandae, incidunt eius placeat nemo in non aliquam minus rem provident quibusdam natus iure recusandae quasi? Itaque tempora quod architecto quos ullam laudantium?</p>
                </div>
                <div class="game-image-container">
                    <img class="game-image" src="../../../../assets/imgs/buscaminas.jpg" alt="buscaminas">
                    <div class="game-description">
                        <!-- Descripción del juego aquí -->
                        El Buscaminas es un juego de lógica donde el jugador descubre casillas en un campo minado,
                         evitando detonar las minas ocultas. Cada casilla puede contener una mina o un número que
                         indica cuántas minas están adyacentes. El objetivo es revelar todas las casillas sin minas.
                          Si se revela una mina, el juego termina. El jugador debe usar pistas proporcionadas por los números
                           para deducir la ubicación de las minas. La estrategia y la precaución son clave para evitar las minas
                            y ganar el juego.
                    </div>
                </div>

            </div>
        </section>
    </main>
</body>
