
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="login.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-image: url('../../../../../assets/imgs/wallp.jpg'); background-size: cover; background-position: center;">
<div class="container">
  <input type="checkbox" id="flip">
  <div class="cover">
    <div class="front">
      <img src="../../../../../assets/imgs/foto1.jpg" alt="Foto 1">
    </div>
    <div class="back">
      <div class="back">
        <img class="backImg" src="../../../../../assets/imgs/foto1.jpg" alt="Foto 1">
      </div>
    </div>
  </div>
  <div class="forms">
    <div class="form-content">
      <div class="login-form">
        <div class="title">Login</div>
        <form id="loginForm">
          <div class="input-boxes">
            <div class="input-box">
              <i class="fas fa-envelope"></i>
              <input
              type="text"
              id="loginEmail"
              name="email"
              [(ngModel)]="user.email"
              placeholder="Enter your email"
              required
            />
            </div>
            <div class="input-box">
              <i class="fas fa-lock"></i>
              <input
              type="password"
              id="loginPassword"
              [(ngModel)]="user.password"
              name="password"
              placeholder="Enter your password"
            />
            </div>
            <div class="text"><a href="#">Forgot password?</a></div>
            <div class="button input-box">
              <input type="submit"(click)="login()">
            </div>
            <div class="text sign-up-text">Don't have an account? <label for="flip">Signup now</label></div>
          </div>
        </form>
      </div>
      <div class="signup-form">
        <div class="title">Signup</div>
        <form id="registerForm">
          <div class="input-boxes">
            <div class="input-box">
              <i class="fas fa-envelope"></i>
              <input
              type="text"
              id="registerEmail"
              [(ngModel)]="user.email"
              name = "email"
              placeholder="Enter your email"
              required
            />
            </div>
            <div class="input-box">
              <i class="fas fa-lock"></i>
              <input
              type="password"
              id="registerPassword"
              [(ngModel)]="user.password"
              name="Contraseña"
              placeholder="Enter your password"
            />
            </div>
            <div class="button input-box">
              <input type="submit" value="Submit" (click)="register()">
            </div>
            <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>

